.opp-stack {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 24px;
 margin-top: 32px;
 padding-left: 70px;
 padding-right: 70px;

}
/* Tablet */
@media (max-width: 1200px) {
 .opp-stack {
   grid-template-columns: repeat(2, 1fr);
 }
}
/* Mobile */
@media (max-width: 700px) {
 .opp-stack {
   grid-template-columns: 1fr;
 }
}